.container {
  max-width: 900px;
}

.text-yellow-400 {
  transition: 0.2s;
}

.text-yellow-400:hover {
  transform: scale(1.1);
}

textarea:focus {
  border-color: #2563eb;
  outline: none;
  box-shadow: 0 0 5px rgba(37, 99, 235, 0.4);
}
